*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}
main{
    position: relative;
    background-color: #555;
    overflow: hidden;
    height: 450px;
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: #ff0;
    text-align: center;
}
.inputBox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #ff0;
}
.inputBox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ .user,
input:valid ~ .user{
    top:-5px;
    color: #ff0;
}
.inputBox input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #ff0;
    transition: .5s;
}
input{
    accent-color: #ff0;
}
.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
}
.forget label a{
    color: #ff0;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-radius: 22px;
    border: none;
    background-color: #ff0;
    font-size: 1em;
    font-weight: 600;
    transition: 1s;
}
button:hover{
    background-color: transparent;
    border: 1px solid #ff0;
    color: #ff0;
}
.conta{
    margin: 25px 0 10px;
    font-size: .9em;
    text-align: center;
    color: #fff;
}
.conta p a{
    text-decoration: none;
    color: #ff0;
    font-weight: 600;
}
.conta p a:hover{
    text-decoration: underline;
}
main span:first-of-type{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent , #ff0);
    animation: animar1 2s linear infinite;
}
@keyframes animar1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
main span:nth-of-type(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height:100%;
    background: linear-gradient(to bottom, transparent , #ff0);
    animation: animar2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animar2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
main span:nth-of-type(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height:3px;
    background: linear-gradient(to left, transparent , #ff0);
    animation: animar3 2s linear infinite;
}
@keyframes animar3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
main span:nth-of-type(4){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height:100%;
    background: linear-gradient(to top, transparent , #ff0);
    animation: animar4 2s linear infinite;
    animation-delay: 1s;
    
}
@keyframes animar4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}