:root{
    /* color */
    --color-branca :#FFFFFF;
    --color-grey:#F0F2F5;
    --color-grey2:#dddfe2;
    --color-grey3:#e7f3ff;
    --color-preto: #1c1e21;
    --color-azul: #1b74e4;
    --color-azul2:#166fe5;
    --color-verde:#42b72a;
    --color-verde2:#36a420;
}
/*Geral*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--color-grey);
    color: var(--color-preto) ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    line-height: 1.34;
}
/*Tela geral*/
#tela-geral{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    flex-wrap: wrap;
    width: 70vw;
}

#tela-geral #tela-infor{
    width: 570px;
}
#tela-geral #tela-infor h1{
    color: var(--color-azul2);
    font-size: 3rem;
}
#tela-geral #tela-infor h3{
    font-size: 2rem;
    font-weight: 100;
}

#tela-geral #tela-login{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#tela-geral #tela-login #login{
    background-color: var(--color-branca);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    border: none;
}
#tela-geral #tela-login #login input{
    border-radius: 6px;
    padding: 15px;
    height: 50px;
    border: 1px solid var(--color-grey2);
    width: 100%;
    outline: none;
    color: var(--color-preto);
    font-size: 17px;
}
#tela-geral #tela-login #login input:focus{
    border-color: var(--color-azul);
    box-shadow: 0 0 0 2px var(--color-grey3);
}

#tela-geral #tela-login #login button{
    background-color: var(--color-azul);
    border: none;
    color: var(--color-branca);
    font-size: 20px;
    padding: 16px;
    width: 100%;
    border-radius: 6px;
    transition: .2s;
}
#tela-geral #tela-login #login button:hover{
    background-color: var(--color-azul2);
}
#tela-geral #tela-login #login a{
    color: var(--color-azul);
    text-decoration: none;
    cursor: pointer;
}

#tela-geral #tela-login #login a:hover{
    text-decoration: underline;
}

#tela-geral #tela-login #login hr{
    width: 100%;
    border: 1px solid  var(--color-grey);
}

#tela-geral #tela-login p{
    text-align: center;
    font-size: 14px;
}

#tela-geral #tela-login #login .criar{
    background-color: var(--color-verde);
    width: auto;
}
#tela-geral #tela-login #login .criar:hover{
    background-color: var(--color-verde2);
}


